<ng-container>
    <div class="header-container">
        <div class="logo-container">
            <!-- Mettre le logo -->
            <img src="assets/images/logo-wcc.png" alt="Logo" width="42" height="42">
                <p>Weekly Coding Challenge</p>
        </div>
        <div class="list-items">
            <!-- Mettre les onglets -->
                <ul>
                    <li>Features</li>
                    <li>Testimonials</li>
                    <li>Pricing</li>
                    <li>FAQ</li>
                </ul>
        </div>
        <div>
            <!-- Mettre le bouton pour s'inscrire -->
            <app-standard-button></app-standard-button>
        </div>
    </div>
</ng-container>
<ng-container>
    <div class="header-section-container">
        <div class="header-section">
            <h1>Build real projects to increase your development skills.</h1>
            <sub class="subtitle">tutu</sub>
            <ul>
                <div class="check-benefit">
                    <img src="assets/images/checked.png" alt="check" width="15" height="15">
                    <li>Practice every week</li>
                </div>
                <div class="check-benefit">
                    <img src="assets/images/checked.png" alt="check" width="15" height="15">
                    <li>Develop two full-stack project</li>
                </div>
                <div class="check-benefit">
                    <img src="assets/images/checked.png" alt="check" width="15" height="15">
                    <li>Gain confidence</li>
                </div>
                <div class="check-benefit">
                    <img src="assets/images/checked.png" alt="check" width="15" height="15">
                    <li>Use projects for your interviews</li>
                </div>
            </ul>
            <app-subscribe-button></app-subscribe-button>
        </div>
        <img class="img-right" src="assets/images/background-image.jpg" alt="" width="500" height="400">
    </div>
</ng-container>
