<ng-container>
    <div class="main-container">
        <div class="logo-container">
            <!-- Mettre le logo -->
            <img src="assets/images/logo-wcc.png" alt="Logo" width="42" height="42">
            <p>Weekly Coding Challenge</p>
        </div>
        <div class="list-items">
            <!-- Mettre les onglets -->
             <ul>
                <li>Features</li>
                <li>Testimonials</li>
                <li>Pricing</li>
                <li>FAQ</li>
             </ul>
        </div>
        <div>
            <!-- Mettre le bouton pour s'inscrire -->
             <app-standard-button></app-standard-button>
        </div>
    </div>
</ng-container>
