<ng-container>
    <div class="card">
        <p>Free</p>
        <h1>Free</h1>
        <ul>
            <div class="check-benefit">
                <img src="assets/images/checked.png" alt="check" width="15" height="15">
                <li>1 challenge every week</li>
            </div>
            <div class="check-benefit">
                <img src="assets/images/checked.png" alt="check" width="15" height="15">
                <li>Access to a Discord community</li>
            </div>
        </ul>
        <app-standard-button class="subscribe-button"></app-standard-button>
    </div>
</ng-container>
